create database DuAn1;
GO

use DuAn1;
GO

create table Roles
(
	Id_role int identity primary key,
	Name nvarchar(20) NOT NULL
);
Go

create table Employees
(
	Id_role int NOT NULL,
	Gender nvarchar(10) NOT NULL, -- nam || nữ
	Email nvarchar(50) NOT NULL,
	Address nvarchar(100) NOT NULL,
	Password varchar(100) DEFAULT('1292201552198220877194054219216496220885'),
	DayOfBirth date NOT NULL,
	Id_employee int identity(1,1) primary key NOT NULL,
	Name nvarchar(50) NOT NULL,
	Salary float NOT NULL,
	constraint fk_idRole foreign key (Id_role) references Roles (Id_role)
);
Go

Create table TypesVoucher
(
	ID_Type int identity primary key not null,
	Sale float not null -- loại giảm giá (vd:20%,30%,...)
)
GO

create table Vouchers
(
	Id_voucher varchar(6) primary key,
	DateBegin date not null default(getdate()),
	DateEnd date,
	Id_employee int not null,
	ID_Type int not null,
	Status int not null DEFAULT(0), -- chưa dùng || đã dùng
	constraint FK_Id_employe_voucher foreign key (Id_employee) references Employees(Id_employee),
	constraint FK_Id_TypeVoucher_voucher foreign key (ID_Type) references TypesVoucher(ID_Type)
);
Go


create table Shifts
(
	TimeBegin VARCHAR(10) not null,
	TimeEnd VARCHAR(10) not null,
	Id_shift int primary key,
);
Go

create table Schedules
(
	Id_schedule int identity primary key,
	Id_employee int not null,
	Id_shift int not null,
	Days int, -- các ngày nhân viên làm trong tuần (vd: 234 thì làm t2,t3,t4)
	constraint FK_Id_employee_schedule foreign key (Id_employee) references Employees(Id_employee),
	constraint FK_Id_Shift foreign key (Id_shift) references Shifts(Id_shift)
);
Go

create table TypesOfIngredient
(
	Id_type int identity primary key not null,
	Name nvarchar(50)
);
Go

create table Suppliers
(
	Name nvarchar(50) not null,
	Id_supplier int identity primary key not null,
	Email nvarchar(50) not null,
	Address nvarchar(100) not null
);
Go

create table Ingredients
(
	Id_ingredient int identity primary key,
	Name nvarchar(100) not null,
	Id_supplier int not null,
	Id_type int not null,
	Price float not null,
	Constraint FK_ID_Type foreign key(Id_type) references TypesOfIngredient(Id_type),
	Constraint FK_ID_supplier foreign key (Id_supplier) references Suppliers(Id_supplier)
);
Go

create table InputBills
(
	ID_Bill int identity primary key,
	DateCheckIn datetime not null default(getdate()),
	ID_employee int not null,
	Constraint FK_ID_employee foreign key (ID_employee) references employees(ID_employee)
)

Create table units -- đơn vị (vd:kg,lít,..)
(
	ID_unit int identity primary key,
	Name nvarchar(20)
)

Create table InputBillsDetaill
(
	Id_BillDetaill int identity primary key,
	quantity float not null,
	Id_unit int not null,
	Id_Ingredient int not null,
	ID_Bill int not null,
	Constraint FK_ID_unit foreign key(Id_unit) references units(Id_unit),
	Constraint FK_ID_ingredient foreign key(Id_Ingredient) references Ingredients(Id_Ingredient),
	Constraint FK_ID_InputBills foreign key(ID_Bill) references InputBills(ID_Bill),
)

create table TypesOfBeverage
(
	Id_type int identity primary key,
	Name nvarchar(50) not null
);
Go

create table Beverages
(
	Name nvarchar(55) not null,
	Price float not null,
	Id_type int not null,
	Id_beverage int primary key identity,
	Image nvarchar(500) not null,
	constraint FK_Id_type_Beverages foreign key (Id_type) references TypesOfBeverage (Id_type)
);
Go

create table Bills_detail
(
	Id_bill int primary key identity,
	Quantity int not null,
	Id_beverage int not null,
	constraint FK_Id_beverage_Bill_detail foreign key(Id_beverage) references Beverages(Id_beverage)
);
Go

create table Customers
(
	Email nvarchar(50) not null,
	Gender nvarchar(10) not null, -- nam || nữ
	Id_customer int primary key identity,
	Reward int not null default(0) -- điểm khách hàng thân thiết
);
Go

Create table tables
(
	ID_Table int primary key identity,
	name nvarchar(50) not null,
	Status nvarchar(20) not null default(N'trống') -- có người || trống
)

create table Bills(
	Id_employee int not null,
	Id_bill int primary key identity,
	Id_customer int not null,
	Id_table int  not null,
	DateCheckIn date  not null,
	Constraint FK_Id_employee_Employee foreign key (Id_employee) references Employees(Id_employee),
	Constraint FK_Id_bill_BillDetail foreign key(Id_bill) references Bills_detail (Id_bill),
	constraint FK_Id_customer foreign key(Id_customer) references Customers(Id_customer),
	constraint FK_Id_table foreign key(Id_table) references tables(Id_table)
);
go

-- drop proc dbo.LOGIN
CREATE PROCEDURE [dbo].[LOGIN] @EMAIL VARCHAR(50), @PASSWORD NVARCHAR(100)
AS 
BEGIN
	DECLARE @STATUS INT
	IF EXISTS(SELECT * FROM Employee 
	WHERE Email = @EMAIL AND Password = @PASSWORD)
		SET @STATUS = 1
	ELSE 
		SET @STATUS = 0
	SELECT @STATUS
END
GO


/****** Object:  StoredProcedure [dbo].[FORGOT_PASSWORD]    Script Date: 11/5/2021 1:37:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[FORGOT_PASSWORD] @EMAIL varchar(50)
AS
BEGIN
	Declare @STATUS int

if exists(select Id_employee from Employee where Email = @EMAIL)
	set @STATUS = 1
else
	set @STATUS = 0
select @STATUS
END
GO

/****** Object:  StoredProcedure [dbo].[CHANGE_PASSWORD]    Script Date: 11/5/2021 1:39:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CHANGE_PASSWORD] 
@EMAIL varchar(50),
@OLDPASS nvarchar(50),
@NEWPASS nvarchar(50)
AS
BEGIN
		DECLARE @OP varchar(50)
		SELECT @OP = Password from Employee where Email = @EMAIL
		IF @OP = @OLDPASS
		BEGIN 
		UPDATE Employee SET Password = @NEWPASS where Email = @EMAIL
		return 1
		END
		ELSE
		return -1
END
GO

/****** Object:  StoredProcedure [dbo].[INSERT_DATA_TO_EMPLOYEE]    Script Date: 11/5/2021 1:39:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[INSERT_DATA_TO_EMPLOYEE] 
@Id_role int,
@Name nvarchar(50),
@Gender int,
@Email varchar(50),
@Address nvarchar(50),
@DayOfBirth date,
@Salary float,
@Password varchar(50)
AS
BEGIN
		INSERT INTO Employee(Id_role,Gender,Email,Address,Password,DayOfBirth,Name,Salary)
		VALUES(@Id_role,@Gender,@Email,@Address,@Password,@DayOfBirth,@Name,@Salary)
END
GO

/****** Object:  StoredProcedure [dbo].[UPDATE_DATA_TO_EMPLOYEE]    Script Date: 11/5/2021 1:39:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UPDATE_DATA_TO_EMPLOYEE] 
@Name nvarchar(50),
@Gender int,
@Email varchar(50),
@Address nvarchar(50),
@DayOfBirth date
AS
BEGIN
		UPDATE Employee SET Address =  @Address, Gender = @Gender,
												Email = @Email, DayOfBirth = @DayOfBirth
												where Email = @Email
		
END
GO

/****** Object:  StoredProcedure [dbo].[UPDATE_DATA_TO_EMPLOYEE]    Script Date: 11/5/2021 1:39:53 PM ******/

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[DELETE_DATA_FROM_EMPLOYEE] @Email varchar(50)
AS
BEGIN
		DELETE from Employee 
		where Email = @Email
END
GO

/****** Object:  StoredProcedure [dbo].[SEARCH_EMPLOYEE]    Script Date: 11/5/2021 1:39:53 PM ******/

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SEARCH_EMPLOYEE]
@Name nvarchar(50)
AS
BEGIN
		SET NOCOUNT ON;
		SELECT  Name,Gender,Id_role,Email,Address,DayOfBirth,Salary from Employee 
		where Name like '%' + @Name + '%'
END
GO

--@tenNv nvarchar(50)
--AS
--BEGIN
--			Set nocount on;
--			select Email,TenNV,DiaChi,VaiTro,TinhTrang from NhanVien 
--			where TenNV like '%' + @tenNv + '%'
--END
	